{% set html = hookable_metadata.context.html %}
{% set slug = hookable_metadata.context.slug %}
{% set slugs = hookable_metadata.context.slugs %}

<div class="container-fluid my-4">
    <div class="row">
        <!-- Sidebar TOC -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-header fw-bold">
                    {{ 'threebrs.ui.docs_plugin.toc'|trans }}
                </div>
                <ul class="list-group list-group-flush">
                    {% for name in slugs %}
                        <li class="list-group-item {% if slug == name %}active text-white bg-primary{% endif %}">
                            <a class="{% if slug == name %}text-white{% endif %}"
                               href="{{ name == 'index'
                                   ? path('threebrs_admin_docs_index')
                                   : path('threebrs_admin_docs_show', { slug: name }) }}">
                                {{ name|replace({'_': ' '})|title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    {% if html is empty %}
                        <div class="alert alert-warning" role="alert">
                            <h4 class="alert-heading">Missing Documentation</h4>
                            <p>Please create a <code>docs/index.md</code> file in the root of your Sylius project.</p>
                        </div>
                    {% else %}
                        {{ html|raw }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
