{% set html = hookable_metadata.context.html|default(null) %}
{% set slug = hookable_metadata.context.slug|default('index') %}
{% set slugs = hookable_metadata.context.slugs|default([]) %}
{% set index_exists = hookable_metadata.context.index_exists %}

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% if not index_exists %}
                        <div class="alert alert-warning" role="alert">
                            <h4 class="alert-heading">Missing Documentation</h4>
                            <p>
                                Please create a <code>docs/index.md</code> file in the root of your Sylius App.
                            </p>
                        </div>
                    {% else %}
                        {{ html|raw }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
