imports:
    - tests/Behat/Resources/suites.yml

default:
    extensions:
        Behat\MinkExtension:
            base_url: 'http://127.0.0.1'
            default_session: symfony
            sessions:
                symfony:
                    symfony: ~
            show_auto: false

        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/Application/config/bootstrap.php
            kernel:
                class: Tests\ThreeBRS\SyliusDocumentationPlugin\Application\Kernel
                path: tests/Application/Kernel.php

        FriendsOfBehat\VariadicExtension: ~

        FriendsOfBehat\SuiteSettingsExtension:
            paths:
                - "features"
