includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    symfony:
        containerXmlPath: tests/Application/var/cache/test/Tests_ThreeBRS_SyliusDocsPlugin_Application_KernelTestDebugContainer.xml

    excludePaths:
        - 'tests/'